{{ 'style.css' | asset_url | stylesheet_tag }}
<div class="container multi">
    <div class="row">
        {% for block in section.blocks %}
        <div class="item col-3">  
            <div class="img">
                <img src="{{ block.settings.image | img_url: '480x480' }}" alt="{{ block.settings.text }}" width="100%" height="auto">
            </div>
            <div class="text">
                {{ block.settings.text }}
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% schema %}
{
    "name": "Multi Custom Header",
    "tag": "section",
    "class": "section",
    "settings": [],
    "presets": [
        {
            "name": "Multi Custom"
        }
    ],
    "blocks": [
        {
            "type": "multi-cus",
            "name": "Custom Item",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Hình ảnh"
                },
                {
                    "type": "text",
                    "id": "text",
                    "label": "Văn bản",
                    "default": "Văn bản mặc định"
                }
            ]
        }
    ]
}
{% endschema %}
